.ccb-checkboxes {
  line-height: 1 !important;
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  input {
    width: 18px !important;
    height: 18px !important;
    border-radius: 3px !important;
    background-color: #ffffff;
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid #dddddd !important;

    &:checked {
      background-color: #00b163 !important;
      border-color: #00b163 !important;
      &:before {
        filter: brightness(0) invert(1);
        transform: rotate(5deg);
      }
    }
  }

  &-label {
    color: #001931;
    font-size: 16px;
    font-weight: 500;
  }
}

.ccb-checkbox {
  display: flex;
  align-items: end;

  label {
    cursor: pointer;
    margin: 0 !important;
    vertical-align: middle;
    padding: 0 0 0 25px;
    display: flex !important;
    align-items: center;
    min-height: 22px;
    position: relative;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;

    span {
      display: inline-flex;
      align-items: center;
      color: black;
      font-size: 14px;
    }

    &::before {
      left: 0;
      content: '';
      max-width: 18px;
      min-width: 18px;
      max-height: 18px;
      min-height: 18px;
      height: 18px;
      width: 18px;
      position: absolute;
      margin: 0 !important;
      background-color: #ffffff;
      border: 2px solid #dddddd;
      transition: transform 0.28s ease;
      box-sizing: border-box;
      border-radius: 3px;
    }

    &::after {
      left: 5px;
      height: 5px;
      width: 8px;
      content: '';
      display: block;
      position: absolute;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transition: transform ease 0.25s;
      transform: rotate(-45deg) scale(0) translateY(-10%);
      box-sizing: border-box;
    }
  }

  input[type="checkbox"] {
    display: none !important;
  }

  input:checked ~ label:before {
    border: 1px solid #9FACB9;
    background-color: #9FACB9 !important;
  }

  input[type='checkbox']:checked ~ label:after {
    transform: rotate(-45deg) scale(1) translateY(-10%) !important;
  }
}