.calc-stripe-wrapper {
  background-color: #ffffff;
}

.calc-two-checkout-wrapper {
  display: flex;
  background: transparent;
  gap: 10px;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;

  .calc-payment-details {
    overflow: hidden;
    display: flex;
    position: relative;
    transform: translateX(40px);
    align-items: center;
    transition: all 200ms ease-in-out;
    column-gap: 6px;

    &.show-card {
      transform: translateX(0);
    }
  }

  .calc-payment-input {
    position: relative;
    overflow: hidden;

    .calc-payment-image-wrapper {
      position: relative;
      z-index: 111;
      width: 34px;
      display: flex;
    }

    input {
      background: transparent !important;
      padding: 0 !important;
      border: none !important;
      font-size: 14px !important;
      min-height: unset !important;
      transition: all 200ms ease-in-out;
      position: relative;
    }

    &.ccb-two-checkout-month-and-year {
      width: 55px;
    }

    &.ccb-two-checkout-cvv {
      width: 30px;
      margin-right: 5px;
    }

    &.ccb-two-checkout-zip-code {
      max-width: 30px;
      text-align: right;
    }

    &.ccb-two-checkout-card {
      width: 50%;
      display: flex;
      gap: 5px;

      &.hide-card {

      }

      &.show-zip {
        input {
          right: 0;
        }
      }
    }
  }
}

.calc-payments {
  .calc-radio-wrapper {
    flex-wrap: wrap;

    label {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      width: 100%;
      border-radius: 6px;
      background: #EEF1F7;
      border-radius: 6px;
      padding: 0 17px !important;

      & > div {
        width: 100%;
        padding: 15px 0 !important;

        &.calc-payment-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          position: relative;

          .calc-payment-header--label {
            display: flex;
            align-items: center;
            width: 100%;

            .calc-radio-label {
              color: #001931;
              font-size: 14px;
              font-weight: 700;

              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              max-width: 300px;
              height: 17px;
            }
          }

          img {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-40%);
          }
        }

        &.calc-payment-body {
          display: flex;
          width: 100%;

          border-top: 1px solid #D5DAE4;
          min-height: 20px;

          .ccb-payment-description {
            color: #808080;
            font-size: 14px;
            font-weight: 500;
            text-indent: 1px;
          }
        }
      }

      .calc-radio-label {
        white-space: nowrap;
      }
    }
  }
}

.calc-payments-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.ccb-btn-wrap {
  min-height: 50px;
  position: relative;
  text-transform: uppercase;

  &.ccb-finish {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    button {
      padding: 13px 20px;
    }

    &.pdf-enable {
      .ccb-btn-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        button {
          width: 48.5%;

          &:last-child {
            width: 100%;
            margin-top: 10px !important;
          }
        }
      }
    }
  }

  button {
    transition: opacity .2s linear, background-color .2s linear;
    &.disabled {
      opacity: .7;
      pointer-events: none;
    }

    &:hover {
      text-decoration: none;
      background-color: #047b47 !important;
    }

    &:focus {
      outline: none;
      box-shadow: none;
      border: none;
    }
  }
}

.calc-container {
  &.horizontal {
    .ccb-finish {
      .calc-buttons {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;

        @media (max-width: 540px) {
          justify-content: space-between;
        }
        
        button {
          width: fit-content;
          
          @media (max-width: 540px) {
            width: 48.5% !important;
          }
          &:last-child {
            margin-left: 10px !important;
            width: fit-content;
            margin-top: 0!important;
            
            @media (max-width: 540px) {
              width: 100% !important;
              margin-left: 0px !important;
              margin-top: 10px !important;
            }
          }
        }
      }
    }
  }
}

.ccb-payment-info {
  width: 100%;
  display: none;
  margin: 15px 0 !important;
  border-radius: 6px;
  text-align: center;

  p {
    color: #000;
    padding: 30px;
    font-size: 15px;
  }

  &.danger {
    display: block !important;
    background: rgba(255, 87, 87, 0.3);
  }

  &.success {
    display: block !important;
    background: rgba(0, 177, 97, 0.3);
  }
}

.ccb-form-payments {
  margin-top:10px;
  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    button, label, textarea {
      cursor: not-allowed;
      pointer-events: none;
    }
    input, input[readonly] {
      cursor: not-allowed;
      pointer-events: none;
    }
  }
  .ccb-btn-wrap {
    .ccb-loader {
      &.front{
        left:0;
      }
    }
  }
}

.ccb-pro-feature-header {
  color: #001931;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


#text-width {
  font-size: 13px !important;
  position: absolute;
  left: -300px;
  z-index: -1111;
}