.list-header .ccb-switch {
  z-index: 0;
}
.ql-snow .ql-tooltip {
  left: 0 !important;
  z-index: 1;
}
.email-preview {
  h1 {
	font-size: 2rem;
  }
  h2 {
	font-size: 1.5rem;
  }
  h3 {
	font-size: 1.17rem;
  }
  h4 {
	font-size: 1rem;
  }
  h5 {
	font-size: 0.83rem;
  }
  h6 {
	font-size: 0.67rem;
  }

  p {
	margin-bottom: 0;
  }
	max-width: 550px;
	width: 100%;
	&-wrapper {
		background: #D2D8E5;
		padding: 20px;
		display: flex;
		justify-content: center;
		border-radius: 10px;
	}
	
	.calc-subtotal-list-header {
		display: flex;
		padding: 5px 10px;
		background-color: #EEEEEE;
		margin-bottom: 5px;
		margin-top: 10px;

		span {
			font-style: normal;
			font-weight: 700;
			font-size: 12px;
			line-height: 14px;
			width: 50%;
			
			&:last-child {
				text-align: right;
			}
		}
	}

	&__header {
		width: 100%;
		padding: 10px 40px;
		display: flex;
		background-color: #fff;
		margin-bottom: 10px;

		&.left {
			justify-content: flex-start;
		}

		&.center {
			justify-content: center;
		}

		&.right {
			justify-content: flex-end;
		}

		img {
			max-height: 100px;
		}
	}

	&__title {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;

		.title {
			font-size: 16px;
			font-weight: 700;
			width: 80%;
		}

		.date {
			font-size: 12px;
			width: 20%;
			text-align: right;
			line-height: 2.2;
		}
	}

	&-body {
		padding: 0 40px;

		@media (max-width: 1440px) {
			padding: 0 10px;
		}

		&__title {
			font-size: 16px;
			font-weight: 700;
		}

		&-summary {
			padding: 20px;
			margin-bottom: 20px;

			&__title {
				font-weight: 700;
				margin-bottom: 10px;
			}

			&__list {

				.summary-list {
					padding: 0 10px;
					&__item {
						display: flex;
						flex-wrap: wrap;
						font-size: 12px;
						padding: 5px 0;
						border-bottom: 1px dashed;
						
						&-unit {
							text-align: left !important;
							opacity: 0.7;
							font-weight: 500 !important;
							font-size: 10px !important;
						}

						&:last-child {
							border-bottom: none;
						}
						div {
							font-weight: 700;
							text-align: left;
							width: 50%;
						}

						ul {
							width: 100%;
							padding-left: 30px;
							margin-top: 5px;
							li {
								display: list-item;
								border-bottom: none;
								margin: 0;
								padding: 0;
								.wrapper {
									display: flex;
									justify-content: flex-start;
									width: 100%;
								}
								div {
									width: auto !important;
									text-align: left;
									font-size: 10px;
									opacity: 0.7;
									margin-right: 10px;
								}

								&::marker {
									color: #00193180;
								}
							}

						}

					}
				}
			}


		}
	}

	&__total {
		display: flex;
		justify-content: space-between;
		border-top: 2px solid #eee;
		padding: 5px 10px;
		div {
			font-style: normal;
			font-weight: 700;
			font-size: 16px;
			line-height: 23px;
		}
	}

	&__files {
		margin-top: 20px;
	}

	&-file {
		display: flex;
		padding: 4px;
		border: 1px solid #ddd;
		border-radius: 4px;
		margin-bottom: 8px;

		&__icon {
			width: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__info {
			display: flex;
			flex-direction: column;
			span {
				font-size: 12px;
				font-weight: 700;
				line-height: 1.4;

				&:last-child {
					font-weight: 500;
				}
			}
		}

		&__button {
			margin-left: auto;
			font-size: 12px;
			font-weight: 700;
			padding: 4px 10px;
			border-radius: 4px;
			background-color: #EEF1F7;
			line-height: 2;
			cursor: pointer;
			transition: 300ms ease;

			&:hover {
				background-color: #dbdbdb;
			}
		}
	}

	&-description {
	  padding: 0 10px;
	  margin-bottom: 30px;

	  .ql-align-justify {
		text-align: justify;
	  }
	  .ql-align-right {
		text-align: right;
	  }

	  .ql-align-center {
		text-align: center;
	  }

	  .ql-align-left {
		text-align: left;
	  }

	  ol,
	  ul {
		padding-left: 1.5em;
		list-style-type: none;
	  }

	  ul {
		li {
		  &::before {
			content: '\2022';
		  }
		}

		list-style-type: none;
	  }

	  ol {
		list-style-type: number;
	  }

	  li::before {
		display: inline-block;
		margin-right: 0.3em;
		text-align: right;
		white-space: nowrap;
		width: 1.2em;
	  }
	}

	&__footer {
		display: flex;
		justify-content: center;

		border-top: 1px solid #DDDDDD;
		padding: 10px 0;
		span {
			font-size: 12px;
			margin-right: 4px;

			&:last-child {
				margin-left: 5px;
				line-height: 1.2;
			}

			img {
				max-height: 15px;
			}
		}
	}

}

.ccb-color {
	&__title {
		font-family: 'Eudoxus Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 12px;
		line-height: 15px;
		color: #001931;
	}
	
	.ccb-color-picker {
		padding: 4px;
		display: flex;
		align-items: center;
		width: 100%;
		border: 1px solid #dddddd;
		border-radius: 4px;
		background: #ffffff;
		height: 40px;
		
		.color {
			cursor: pointer;
			min-width: 32px;
			min-height: 32px;
			border-radius: 4px;
			background-color: #21c521;
			border: 1px solid #dddddd;
			margin-right: 10px;
		}
		
		.color-value {
			text-transform: uppercase;
			white-space: nowrap;
			
			@media only screen and (max-width: 1700px) {
				font-size: 12px;
			}
		}
		
		.sticky-popover {
			position: absolute;
			z-index: 3;
			left: -30px;
		}
		
		.sticky-cover {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}

.email-preview-docs {
	span {
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		color: #788593;
	}

	a {
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		color: #00B163;
	}
}
