.ccb-options-container {
  .ccb-option-actions {
    .ccb-button {
      padding: 12px 20px;
      i {
        margin-right: 5px;
      }
    }
  }
  .ccb-options-header {
    display: flex;
    width: 100%;
    margin-bottom: 6px;

    span {
      color: #001931;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
  }
  .ccb-options {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;

    .ccb-option-delete {
      right: 19px;
      top: 13px;
      width: 20px;
      height: 20px;
      position: absolute;
      cursor: pointer;
      border-radius: 0 4px;
      color: #9FACB9;
      font-size: 17px;

      display: flex;
      align-items: center;
      justify-content: center;
      transition: color 200ms linear;

      &:hover {
        color: rgba(0, 25, 49, 1);
      }
    }

    .ccb-option-drag {
      line-height: 1;
      position: absolute;
      top: 51%;
      transform: translateY(-50%);
      left: 10px;
      font-size: 20px;
      color: rgba(0, 25, 49, 0.3);
      transition: color 200ms linear;
      cursor: move;

      &:hover {
        color: rgba(0, 25, 49, 0.6);
      }
    }

    .ccb-option-delete,
    .ccb-option-drag {
      &.disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }


    .ccb-option {
      width: 100%;
      min-height: 32px;
      border-radius: 4px;
      position: relative;
      background-color: #eef1f7;

      padding: 4px 30px 4px 35px;
      display: flex;
      column-gap: 4px;

      .ccb-option-inner {
        position: relative;
      }
    }
  }

  &.radio {
    .ccb-options-header {
      span {
        width: 50%;

        &:first-child {
          width: 50%;
        }
      }
    }
    .ccb-options {
      .ccb-option {
        .ccb-option-inner {
          width: 47%;
        }
      }
    }
  }

  &.checkbox {
    .ccb-options-header {
      span {
        width: 26%;

        &:first-child {
          width: 41%;
        }
      }
    }
    .ccb-options {
      .ccb-option {
        .ccb-option-inner {
          width: 141px;

          &.label-input {
            width: 181px;
          }

          &.hint-input {
            width: 141px;
          }
        }
      }
    }
  }

  &.checkbox,
  &.radio {
    .ccb-error-tip {
      top: auto !important;
      left: inherit;
    }
  }

  &.ccb-with-img {
    .ccb-options-header {
      span {
        width: 26%;

        &:first-child {
          width: 40%;
        }
      }
    }
    .ccb-options {
      .ccb-option {
        .ccb-option-delete {
          top: 13px;
          right: 18px;
        }
        .ccb-option-inner {
          width: 141px;

          &.label-input {
            width: 181px;
          }

          &.value-input {
            width: 141px;
          }

          &.image-val {
            display: flex;
            align-items: center;

            .ccb-button {
              height: 98%;
              white-space: nowrap;
              width: 141px;
              justify-content: center;
            }
          }
        }
      }
    }
  }

  &.woo-links {
    .ccb-options-header {
      margin-bottom: 7px;
      span {
        width: 30.5%;
        &:first-child {
          text-indent: 5px;
          width: 31.5%;
        }
      }
    }

    .ccb-options {
      margin-bottom: 20px;
      .ccb-option {
        padding-left: 10px;
        column-gap: 20px;
        .ccb-option-inner {
          width: 30%;
        }
      }
    }
    .settings-woo-tooltip {
      .ccb-options-tooltip {
        display: inline-block;
        vertical-align: middle;
        i {
          margin-left: 0;
        }
      }
    }
  }
}
