.ccb-back-container {
  min-width: 124px;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  flex: 1;

  .ccb-back-to-text {
    display: flex;
    flex-direction: row;
    row-gap: 3px;
    font-size: 14px;
    font-weight: 700;
    color: #1AB163;
    align-items: flex-start;
    cursor: pointer;
    text-wrap: nowrap;

    & > span {
      line-height: 14px;
      color: #1AB163;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: normal;
      transition: 200ms ease-in-out;

      &:last-child {
        color: #788593;
        margin-left: 2px;
        cursor: auto;

        &:hover {
          & > span {
            opacity: 0.75;
          }
        }
      }
    }


  }

  .ccb-back-wrap {
    height: 30px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    i {
      color: #1AB163;
      font-size: 14px;
      transition: all 200ms linear;
    }

    &:hover {
      i {
        opacity: 0.9;
      }
    }
  }
}

.ccb-back-label {
  cursor: pointer;
  color: #001931;
  font-size: 18px;
  font-weight: 700;
}