.btn-upgrade {
  border-radius: 4px;
  border: 1px solid #3fbc00;
  outline: none;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  transition: all 200ms linear;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: transparent linear-gradient(179deg, #74D900 0%, #00964B 100%) 0% 0% no-repeat padding-box;
  box-shadow: inset 0 0 10px #5DDD28, 0 3px 10px #62CF2580;
  opacity: 1;

  i {
    margin-right: 5px;
  }

  &:hover {
    color: #ffffff;
    text-decoration: none;
    background-image: linear-gradient(-179deg, #74d900 0%, #00964b 0%);
  }

  @media only screen and (max-width: 1550px) {
    font-size: 13px;
  }

  @media only screen and (max-width: 1320px) {
    font-size: 12px;
  }
}

.ccb-button {
  border: none;
  cursor: pointer;
  border-radius: 4px;
  outline: none !important;
  box-shadow: none !important;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 20px;
  transition: background-color 200ms linear;
  display: flex;
  align-items: center;
  line-height: 1;

  i {
    margin-right: 5px !important;
  }

  &.ccb-save-settings {
    padding: 5px 8px 5px 0;

    .calc-save-btn-txt {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-left: 14px;
    }
  }

  &.ccb-href {
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 2px;
  }

  &.ccb-settings {
    padding: 11px 35px !important;
  }

  &.disabled {
    pointer-events: none !important;
    opacity: 0.5 !important;
  }
  
  &.embed {
    background-color: #fff;
    color: #00b163;
    border: 2px solid #00b163;
    border-radius: 4px;
    
    span {
      &:first-child {
        margin-right: 5px;
      }
    }
    
    &:hover {
      color: #fff;
      background-color: #00b163;
    }
  }

  &.default {
    background-color: #eef1f7;
    color: rgba(0, 25, 49, 0.7);

    &:hover {
      color:rgba(0, 25, 49, 0.7);
      background-color: darken(#eef1f7, 5%);
    }
  }

  &.success {
    color: #ffffff;
    background-color: #00b163;

    &:hover {
      color: #ffffff;
      background-color: darken(#00b163, 7%);
    }
  }

  &.cancel {
    background-color: #EEF1F7;

    &:hover {
      background-color: darken(#EEF1F7, 7%);
    }
  }

  &.peril {
    color: #FF7A00;
    background-color: #ffffff;
    border: 2px solid #FF7A00;

    &:hover {
      color: #ffffff;
      background-color: #FF7A00;
      border-color: #FF7A00;
    }
  }

  &.light {
    color: #00b163;
    background-color: #fff;
    border: 2px solid #00b163;

    &:hover {
      background-color: #00b163;
      color: #fff;
    }
  }

  &.danger {
    color: #d94141;
    background-color: #d941411a;

    &:hover {
      color: darken(#d94141, 5%);
    }
  }

  &.delete {
    color: #fff;
    background-color: #D94141;

    &:hover {
      background-color: #da5f4f;
    }
  }

  @media only screen and (max-width: 1800px) {
    font-size: 13px;
    padding: 4px 20px;
  }

  @media only screen and (max-width: 1550px) {
    font-size: 12px;
    padding: 3px 20px;
  }

  &.skip {
    left: 50%;
    bottom: 30px;
    opacity: 0.5;
    color: #001931;
    font-weight: 500;
    position: absolute;
    text-decoration: underline;
    background-color: transparent;
    transition: all 200ms linear;
    transform: translateX(-50%);
    white-space: nowrap;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    width: 40px;
    height: 40px;

    i {
      font-size: 18px;
    }
  }
}

.ccb-btn-dropdown {
  &.ccb-btn-save-as-template {
    padding: 0 !important;
    width: 24px;
    height: 24px;
    margin: 0 0 0 14px !important;
    display: flex;
    align-items: center;
    border-left: 1px solid #ffffff80;
    justify-content: flex-end;
  }

  &-content {
    position: relative;

    i {
      position: absolute;
      transform: rotate(-90deg);
      margin: 0 !important;
      padding: 0 !important;
      top: -5px;
      right: 2px;
      font-size: 12px;
      transition: color 200ms linear;
      cursor: pointer;
    }
  }

  &-list {
    right: 0;
    top: 100%;
    position: absolute;
    z-index: 9999;

    padding: 0;
    margin: 3px 0 0 0;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgb(0 0 0 / 15%);

    li {
      margin: 0 !important;
      padding: 16px 15px;
      cursor: pointer;
      white-space: nowrap;

      &:hover {
        background-color: #f6f6f6;
      }
    }
  }

  &-input {
    display: none !important;
  }

  &-input + &-list {
    display: none;
  }

  &-input:checked + &-list {
    display: block;
  }

  &.ccb-btn-export {
    .ccb-btn-dropdown-list {
      right: unset;
      margin: 3px 0 0;

      li {
        a {
          outline: none !important;
          text-decoration: none !important;
          box-shadow: none !important;
          color: inherit;
          display: block;
          height: 100%;
          width: 100%;
        }

        padding: 12px 20px !important;

        &:first-child {
          border-bottom: 1px solid #EEEEEE;
        }

        &.ccb-list-disabled {
          a {
            opacity: 0.5;
          }
        }

        .ccb-ids-selected {
          padding: 2px 5px;
          background-color: #00b163;
          color: #ffffff;
          margin-left: 5px;
          font-size: 12px;
          border-radius: 4px;
          display: inline-block;
          min-width: 20px;
          text-align: center;
        }
      }
    }
  }
}
