.ccb-calculator-tab {
  position: relative;
  overflow: hidden;

  &.ccb-tab-section-content {
    transition: all 200ms linear;
    opacity: 0;
    visibility: hidden;

    &.ccb-show-content {
      opacity: 1;
      visibility: visible;
    }
  }

  &-header {
    display: flex;
    align-items: center;

    &-label {
      cursor: pointer;
      height: 59px;
      padding: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      color: #788593 !important;


      &.active {
        color: #001931;
        border-bottom: 2px solid #00b163;

        i {
          color: #001931;
        }
      }

      i {
        font-size: 20px;
        margin-right: 10px;
        color: #788593;

        @media only screen and (max-width: 1800px) {
          font-size: 18px;
          margin-right: 9px;
        }

        @media only screen and (max-width: 1550px) {
          font-size: 17px;
          margin-right: 8px;
        }

        @media only screen and (max-width: 1320px) {
          font-size: 16px;
          margin-right: 7px;
          position: relative;
          top: -1px;
        }
      }
    }
  }

  &-content {
    flex: 1;
    height: 100%;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
    top: 92px;
    z-index: 99;

    .ccb-calculator-tab-page {
      height: 100%;
      overflow: hidden;
    }
  }
}
