.ccb-create-calc {
  display: flex;
  height: calc(100vh - 130px);
  overflow: hidden;

  &-sidebar {
    z-index: 1;
    width: 100%;
    max-width: 217px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    -ms-overflow-style: none;

    .ccb-sidebar-header {
      padding: 16px 10px 10px 10px;
      display: flex;
      flex-direction: column;
      row-gap: 3px;
      background-color: #ffffff;
      z-index: 15;
      position: sticky;
      top: 0;

      @media only screen and (max-width: 1550px) {
        padding: 20px 15px;
      }
    }

    .ccb-sidebar-item-container {
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;

      &:last-child {
        margin-bottom: 10px;
      }

      .ccb-sidebar-item-type {
        color: #9FACB9;
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 16px;
        margin-bottom: 2px;
        text-indent: 10px;
      }
    }

    .ccb-sidebar-item-list {
      display: flex;
      flex-direction: column;
      padding: 0 10px;

      .ccb-sidebar-item-empty {
        display: flex;
        width: 100%;
        padding: 5px 0;
      }

      .ccb-sidebar-item {
        display: flex;
        cursor: pointer;
        padding: 7px 9px;
        position: relative;
        border-radius: 4px;
        align-items: center;
        transition: background-color 200ms linear;
        background-color: #eef1f7;
        margin-bottom: 4px;
        border: 1px solid transparent;

        &.lock {
          pointer-events: none !important;
          border: 1px solid #dddddd;
          margin-bottom: 5px;

          a {
            .ccb-item-lock-inner {
              pointer-events: auto;
            }
            &:focus {
              box-shadow: none;
            }
          }
          &:hover {
            background: transparent;

            .ccb-sidebar-item-draggable {
              opacity: 0;
            }
          }

        }

        &-draggable {
          top: 51%;
          opacity: 0;
          cursor: move;
          right: 10px;
          line-height: 1;
          position: absolute;
          transform: translateY(-50%);
          transition: opacity 200ms linear;

          i {
            font-size: 20px;
            color: rgba(1, 26, 48, 0.3);
            transition: color 200ms linear;

            &:hover {
              color: rgba(1, 26, 48, 0.5);
            }
          }
        }

        &-lock {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          display: flex;
          width: 100%;
          height: 100%;
          z-index: 10;


          .ccb-item-lock {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            pointer-events: none;
            opacity: 0.5;
            z-index: 11;
            background: #ffffff;
            border-radius: 10px;
          }

          .ccb-item-lock-inner {
            width: 48px;
            height: 20px;
            background-color: #D3FFDD;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 32px;
            position: absolute;
            top: 7px;
            right: 7px;
            z-index: 12;
            column-gap: 3px;

            & > i, & > span {
              color: #1ab163;
            }

            & > i {
              font-size: 11px;
            }

            & > span {
              font-size: 9px;
              font-weight: 700;
            }
          }
        }

        &-icon {
          margin-right: 10px;
          height: 20px;

          i {
            color: #9FACB9;
          }
        }

        &-box {
          display: flex;
          flex-direction: column;
          row-gap: 5px;

          span {
            color: #001931;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

        &:hover {
          border-color: #1AB163;

          .ccb-sidebar-item-draggable {
            opacity: 1;
          }
        }
        .ccb-sidebar-item-quick-tour-element-styles {
          content: "";
          position: absolute;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 2px 4px;
          gap: 2px;
          width: 42px;
          height: 18px;
          right: -1px;
          top: -1px;
          border-radius: 0px 6px;
          background-color: #4478FF;
          font-style: normal;
          font-weight: 700;
          font-size: 9px;
          color: #FFFFFF;
          z-index: 10;
        }
      }
    }
  }

  &-content {
    display: flex;
    flex: 1;

    &-fields {
      width: 100%;
      background-color: #eef1f7;

      .ccb-fields-container {
        max-width: 630px;
        padding: 42px 25px 25px 25px;
        margin-left: 50px;

        &.ccb-container-empty {
          .ccb-fields-wrapper {
            display: flex !important;
            align-items: center;
            justify-content: center;
            max-width: 450px;
            //height: 150px !important;
          }
        }

        .ccb-fields-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 10px;

          &-box {
            display: flex;
            flex-direction: column;
            row-gap: 2px;
            flex: 1;

            &-calculator-title {
              margin-bottom: 17px;
              width: 402px;
              .ccb-calc-title {
                min-width: 380px;
                position: relative;

                @media only screen and (max-width: 1600px) {
                  min-width: 300px;
                }

                @media only screen and (max-width: 1440px) {
                  min-width: 250px;
                }

                .ccb-title {
                  word-break: break-all;
                  cursor: pointer;
                  color: #001931;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 24px;
                }

                .ccb-title-edit {
                  font-size: 18px;
                  cursor: pointer;
                  color: rgba(1, 26, 48, 0.5);
                  transition: color 200ms linear;
                }

                .ccb-title-approve {
                  cursor: pointer;
                  font-size: 22px;
                  color: $iconColor;
                  position: absolute;
                  right: 10px;
                  top: 50%;
                  transform: translateY(-50%);
                  //transition: color 200ms ease-in-out;

                  &:hover {
                    color: darken($iconColor, 7%)
                  }
                }

                &:hover {
                  .ccb-title-edit {
                    color: rgba(1, 26, 48, 0.75);
                  }
                }

                input {
                  padding-right: 40px;
                  width: 100%;
                  height: 40px;
                  border-radius: 4px;
                  background: #FFFFFF;
                  outline: none !important;
                  cursor: default !important;
                  box-shadow: none !important;
                  border: 1px solid #dddddd !important;
                }
              }
            }
          }

        }

        .ccb-fields-wrapper {
          border: 2px dashed transparent;
          max-height: calc(100vh - 275px);
          overflow-y: auto;
          padding-right: 10px;
          padding-bottom: 50px;


          &.ccb-disable-scroll {
            overflow: hidden !important;
            border-color: rgba(1, 26, 48, 0.3) !important;
          }

          .ccb-fields-item-row {
            width: 100%;
            max-width: 577px;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            padding-bottom: 50px;

            .ccb-sidebar-item {
              &.ghost {
                height: 54px;
                width: 100%;
                background-color: #ffffff;
                padding: 0 15px;
                border-radius: 4px;
                display: flex;
                align-items: center;

                .ccb-sidebar-item-icon {
                  width: 34px;
                  height: 34px;
                  display: flex;
                  align-items: center;
                  border-radius: 50px;
                  justify-content: center;
                  background-color: rgba(0, 177, 99, 0.1);
                  margin-right: 10px;

                  i {
                    font-size: 16px;
                    color: #00b163;
                  }
                }

                .ccb-sidebar-item-draggable {
                  display: none;
                }

                .ccb-sidebar-item-box {
                  display: flex;
                  flex-direction: column;
                  row-gap: 5px;
                  line-height: 1;

                  .ccb-sidebar-item-description {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    color: #707070;
                  }
                }
              }
            }

            .ccb-fields-item {
              cursor: pointer;
              max-width: 100%;
              width: 100%;
              background-color: #ffffff;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 10px;
              border: 1px solid #ffffff;
              border-radius: 0;

              &.ccb-field-selected {
                border-color: #1ab163;
              }

              &.ccb-idx-error {
                border-color: #d94141;
              }

              &.ccb-place {
                color: rgba(1, 26, 48, 0.3);
                font-size: 14px;
                font-weight: 500;
                transition: color 200ms linear;
                justify-content: center;
                border: none;
                background-color: transparent;
                display: none;

                &.ccb-place-show {
                  display: flex !important;
                }
              }

              .ccb-fields-item-left {
                width: 95%;
                display: flex;
                column-gap: 10px;
                justify-content: flex-start;
                flex-direction: column;

                .line-field {
                  width: 100%;
                  height: 4px;
                  background-color: #D2D8E5;
                }

                .html-field {
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 20px;
                  padding: 14px 0;
                  color: #788593D9;
                  border: 1px solid #D2D8E5;
                  width: 100%;
                  text-align: center;
                }

                .ccb-field-item-icon-box {
                  display: flex;
                  .ccb-field-item-icon {
                    width: 20px;
                    height: 20px;
                    margin-right: 7px;
                    color: #9FACB9;
                    font-size: 17px;
                  }

                  .ccb-default-description {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 22px;
                    color: #ABAFB7;
                    margin-right: 6px;
                  }


                }

                .ccb-field-item-title-box {
                  display: flex;
                  flex-direction: column;
                  margin-bottom: 5px;

                  span {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px;
                    word-break: break-all;
                  }
                }
              }

              .ccb-fields-item-center {
                width: 33%;
                text-align: center;
              }

              .ccb-fields-item-right {
                width: 33%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .ccb-fields-item-icon {
                  opacity: 0;
                  color: #9FACB9;
                  width: 32px;
                  height: 32px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  transition: 200ms ease;

                  &:hover {
                    color: #1AB163;
                  }

                  &.drag-icon {
                    cursor: move;
                  }

                  &.border-icon {
                    border-radius: 4px;
                    border: 1px solid #ddd;

                    &:last-child {
                      margin-left: 6px;
                    }
                  }
                }
              }

              &:hover {
                .ccb-fields-item-icon {
                  opacity: 1;
                }
              }
            }
            .ccb-fields-item-group {
              border: 1px dashed #001931;
              min-height: 150px;
              position: relative;

              &-hidden {
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 22px;
                color: #9196A1;
                margin-left: 13px;
                i {
                  font-size: 14px;
                }
              }

              .ccb-fields-item-row {
                padding: 7px;
              }
              &:hover {
                border-color: #1AB163;
              }
              .ccb-field-item-title-box {
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                margin-bottom: 0px !important;
              }
              .ccb-fields-item-group__header {
                max-height: 40px;
              }

              .ccb-fields-group {
                min-height: 100px;
                padding-bottom: 52px;
                position: relative;
                z-index: 99;

                &.empty-group {
                  padding-bottom: 0px;
                  min-height: 120px;
                }

                &__message {
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 20px;
                  color: #ABAFB7;
                  display: block;
                  text-align: center;
                  position: absolute;
                  left: 50%;
                  right: auto;
                  bottom: 40px;
                  margin-left: -125px;
                }
              }

              .ccb-fields-group__actions {
                padding: 0 12px 12px 12px;
                position: absolute;
                bottom: 0;
                .ccb-fields-group__button {
                  background-color: #fff;
                  color: #ABAFB7;
                  display: inline-block;
                  padding: 4px 10px;
                  font-size: 14px;
                  &:hover {
                    cursor: pointer;
                  }

                }
              }
            }
          }
        }
      }
    }

    &-edit-field {
      position: absolute;
      height: 100%;
      right: -1000px;
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
      background-color: #ffffff;
      max-width: 600px;
      width: 100%;
      flex: 1;
      padding: 20px;
      max-height: 100vh;
      overflow-y: auto;
      transition: right 200ms linear;
      top: 0;
      z-index: 999;

      &.has-content {
        right: 0;
      }

      .cbb-edit-field-container {
        height: 100%;
        .ccb-circle-question-icon{
          &::before {
            display: block;
            margin-top: 2px;
            width: 18px;
            height: 18px;
            content: '';
            background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="Mark Circle"><path id="Mark Circle_2" fill-rule="evenodd" clip-rule="evenodd" d="M6.79158 7.70898C6.79158 5.93982 8.23075 4.50065 9.99992 4.50065C11.7691 4.50065 13.2083 5.93982 13.2083 7.70898C13.2083 9.15732 12.2366 10.3701 10.9166 10.7679V11.834C10.9166 12.3409 10.5068 12.7507 9.99992 12.7507C9.493 12.7507 9.08325 12.3409 9.08325 11.834V10.0007C9.08325 9.49373 9.493 9.08398 9.99992 9.08398C10.758 9.08398 11.3749 8.46707 11.3749 7.70898C11.3749 6.9509 10.758 6.33398 9.99992 6.33398C9.24183 6.33398 8.62492 6.9509 8.62492 7.70898C8.62492 8.2159 8.21517 8.62565 7.70825 8.62565C7.20133 8.62565 6.79158 8.2159 6.79158 7.70898ZM9.08325 14.584C9.08325 14.0771 9.493 13.6673 9.99992 13.6673C10.5068 13.6673 10.9166 14.0771 10.9166 14.584C10.9166 15.0909 10.5068 15.5007 9.99992 15.5007C9.493 15.5007 9.08325 15.0909 9.08325 14.584ZM9.99992 17.334C5.9565 17.334 2.66659 14.0441 2.66659 10.0007C2.66659 5.95723 5.9565 2.66732 9.99992 2.66732C14.0433 2.66732 17.3333 5.95723 17.3333 10.0007C17.3333 14.0441 14.0433 17.334 9.99992 17.334ZM9.99992 0.833984C4.94542 0.833984 0.833252 4.94615 0.833252 10.0007C0.833252 15.0552 4.94542 19.1673 9.99992 19.1673C15.0544 19.1673 19.1666 15.0552 19.1666 10.0007C19.1666 4.94615 15.0544 0.833984 9.99992 0.833984Z" fill="%239FACB9"/></g></svg>');
            background-size: contain;
            background-repeat: no-repeat;
          }
        }

        .ccb-heading-5 {
          font-size: 14px;
        }
      }

      .ccb-edit-field-no-selected {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .ccn-edit-no-selected-box {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          row-gap: 6px;
        }
      }

      .ccb-edit-field-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .ccb-edit-field-title {
          padding: 5px 0;
        }

        .ccb-edit-field-close {
          width: 30px;
          height: 30px;
          background-color: #eef1f7;
          border-radius: 50px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            font-size: 12px;
            font-weight: 500;
            color: rgba(1, 26, 48, 0.7);
          }
        }
      }

      .ccb-grid-box {
        padding-left: 0 !important;
        padding-right: 0 !important;

        .container {
          padding-left: 0 !important;
          padding-right: 0 !important;

          .row {
            align-items: flex-start !important;
            &.vertical-center {
              align-items: center !important;
            }
            .ccb-col-active{
              border: 1px solid #DDD;
              background-color: #EEF1F7;
            }
            .ccb-col-danger{
              border: 1px solid rgba(217, 65, 65, 0.20);
              background: #FFF2F2;
            }
            .border-bottom {
              border-color: #DDDDDD;
            }
          }

          textarea,
          input[type=email],
          input[type=text],
          input[type=number] {
            font-size: 16px;
            font-weight: 500;
            color: rgba(1, 26, 48, 0.7);

            &::placeholder {
              color: rgba(1, 26, 48, 0.3);
            }
          }
        }
      }
    }
  }
  .ccb-field-overlay{
    position: absolute;
    width: 100%;
    height: calc(100vh - 145px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    opacity: 0.5;
  }
}

.ccb-edit-field-aliases {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  background-color: #eef1f7;
  padding: 20px 7px 10px 7px;

  .ccb-edit-field-alias {
    display: flex;
    color: #001931;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 6px 10px;
    cursor: pointer;
    border: 1px solid #dddddd;
    background: #ffffff;
    border-radius: 4px;
    transition: background-color 200ms linear;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; 
    &:hover {
      background-color: #eef1f7;;
    }

    &:active,
    &:focus {
      background-color: #d2d8e5;
    }

    .ccb-edit-field-letter{
      background: #A9FFD3;
      color:#139151;
      text-align: center;
      padding: 3px 7px;
    }
    .ccb-edit-field-letter-total{
      background: #DDD;
      color:#707070;;
      text-align: center;
      padding: 3px 7px;
    }
    .ccb-edit-field-label{
      padding: 3px 0px 3px 7px;
    }
  }
}

body {
  &.ccb-border-wrap {
    .ccb-fields-wrapper {
      border-color: rgba(1, 26, 48, 0.3) !important;
    }

    .ccb-fields-item.ccb-place {
      display: flex !important;
    }
  }
}

.ccb-field-styles-tooltip {
  position: relative;
  background-color: #eaf8f0;
  border-radius: 10px;
  border: 1px solid $iconColor;
  padding: 10px;
  font-size: 20px;
  opacity: 1;
  width: 100%;
  z-index: 1102;
  transition: all .7s ease-out;

  .ccb-field-styles-tooltip-content {
    width: 100%;
    display: flex;
    column-gap: 10px;
    align-items: center;

    i {
      color: $iconColor;
      font-size: 14px;
    }

    p {
      margin: 0;
      padding: 0;
      line-height: 1.3;

      a {
        box-shadow: none;
        text-decoration: none;
        outline: none;
        color: $iconColor;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &:before {
    top: -22px;
    left: 80px;
    content: " ";
    display: block;
    height: 20px;
    position: absolute;
    border-color: transparent transparent $iconColor transparent;
    border-style: solid;
    border-width: 11px;
  }


  &:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-bottom: solid #eaf8f0 10px;
    top: -10px;
    content: " ";
    height: 0;
    left: 81px;
    position: absolute;
    width: 0;
  }

  &.ccb-info {
    &:before,
    &:after {
      display: none;
    }
  }
}

.ccb-idx-error-info {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #D94141;
}

