.ccb-p-t-40 {
  padding-top: 40px;
}

.ccb-p-t-30 {
  padding-top: 30px;
}

.ccb-p-t-20 {
  padding-top: 20px;
}
.ccb-p-r-20 {
  padding-right: 20px !important;
}
.ccb-p-l-20 {
  padding-left: 20px !important;
}
.ccb-p-b-20 {
  padding-bottom: 20px !important;
}
.ccb-p-t-b-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.ccb-p-t-15 {
  padding-top: 15px;
}
.ccb-p-t-b-15{
  padding-top: 15px;
  padding-bottom: 15px;
}
.ccb-p-r-15 {
  padding-right: 15px !important;
}
.ccb-p-l-15 {
  padding-left: 15px !important;
}
.ccb-p-b-15 {
  padding-bottom: 15px !important;
}
.ccb-p-t-10 {
  padding-top: 10px;
}
.ccb-p-r-10 {
  padding-right: 10px !important;
}
.ccb-p-l-10 {
  padding-left: 10px !important;
}
.ccb-p-b-10 {
  padding-bottom: 10px !important;
}
.ccb-p-t-5 {
  padding-top: 5px;
}
.ccb-p-r-5 {
  padding-right: 5px !important;
}
.ccb-p-l-5 {
  padding-left: 5px !important;
}
.ccb-p-b-5 {
  padding-bottom: 5px !important;
}
.ccb-m-t-15 {
  margin-top: 15px;
}
.ccb-m-t-20 {
  margin-top: 20px;
}
.ccb-m-b-20 {
  margin-bottom: 20px !important;
}