$iconColor: #00b163;
$textGrayColor: #9d9ea4;
$btnHover: #047b47;
$borderColor: #d0d0d0;
$bgColor: #f7fafa;
$bgGray: #dfe9ea;
$modalBgColor: #ffffff;
$boxShadow15: rgba(0, 0, 0, .15);
$requiredColor: #d94141;
$requiredBgColor: #ffcbcb;
$whiteColor: #ffffff;
$blackColor: #000000;
$greyColor: #dddddd;
$blackColor: #333333;
$modalGrey: #eeeeee;
$systemFont: -apple-system,"Segoe UI", "Helvetica Neue", "Roboto", "Noto Sans", "Cantarell", sans-serif;