.calc-checkbox {
  flex-direction: row;
  row-gap: 10px;
  column-gap: 10px;
  flex-wrap: wrap;

  &.default,
  &.boxed-with-description,
  &.boxed-with-checkbox-and-description,
  &.boxed-with-checkbox {
    label {
      line-height: 1;
      cursor: pointer;
      font-weight: normal;
      margin: 0 !important;
      vertical-align: middle;
      padding: 0 0 0 25px;
      display: flex !important;
      align-items: center;
      min-height: 22px;
      position: relative;

      .calc-checkbox-title {
        color: #001931;
        font-size: 16px;
        font-weight: 500;
      }

      span {
        display: inline-flex;
        align-items: center;
        color: black;
        font-size: 14px;
      }

      &::before {
        left: 0;
        content: '';
        max-width: 20px;
        min-width: 20px;
        max-height: 20px;
        min-height: 20px;
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0 !important;
        background-color: #ffffff;
        border: 2px solid #dddddd;
        transition: transform 0.28s ease;
        box-sizing: border-box;
        border-radius: 3px;
      }

      &::after {
        left: 6px;
        height: 5px;
        width: 10px;
        content: '';
        display: block;
        position: absolute;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transition: transform ease 0.25s;
        transform: rotate(-45deg) scale(0) translateY(-10%);
        box-sizing: border-box;
      }
    }

    input[type="checkbox"] {
      display: none !important;
    }

    input:checked ~ label:before {
      border: 1px solid $iconColor;
      background-color: $iconColor !important;
    }
  }

  &.default {
    .calc-checkbox-item {
      flex-grow: unset !important;
      line-height: 1;
      position: relative;
      margin: 0 !important;
    }
  }

  &.boxed-with-checkbox-and-description,
  &.boxed-with-description,
  &.boxed-with-checkbox,
  &.boxed {
    .calc-checkbox-item {
      display: flex;
      margin: 0 !important;
      padding: 0;
      min-height: auto;
      flex-grow: unset !important;

      label {
        padding: 12px 30px;
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        cursor: pointer;
        line-height: 1.25;
      }

      input:checked + label {
        color: #FFFFFF;
        background: $iconColor;
        border: 1px solid $iconColor;

        .calc-checkbox-title {
          color: #FFFFFF !important;
        }
      }
    }
  }

  &.boxed-with-checkbox-and-description,
  &.boxed-with-description,
  &.boxed-with-checkbox {
    .calc-checkbox-item {
      label {
        padding: 12px 30px 11px 40px;
        &::before {
          left: 16px;
          top: 13px;
        }

        &::after {
          left: 22px;
          top: 19px;
        }

        .calc-checkbox-title-wrap {
          .calc-checkbox-description {
            word-break: break-all;
          }
        }
      }

      input:checked + label {
        background: #00b1631A;
        border: 1px solid $iconColor;

        .calc-checkbox-title {
          color: #001931 !important;
        }
      }
    }
  }

  &.boxed-with-description {
    .calc-checkbox-item {
      label {
        align-items: flex-start;
        width: 100%;

        .calc-checkbox-title-wrap {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          align-items: flex-start !important;

          .calc-checkbox-description {
            color: #001931;
            font-size: 14px;
            font-weight: 400;
            word-break: keep-all;
          }
        }

        label {
          &::after {
            left: 22px;
            top: 17px;
          }
        }
      }
    }
  }

  &.boxed-with-checkbox-and-description {
    .calc-checkbox-item {
      width: max-content;
      label {
        padding: 10px 38px 10px 20px !important;

        .calc-checkbox-title-wrap {
          display: flex;
          flex-direction: column;
          row-gap: 0;
          align-items: flex-start !important;
          margin-right: 20px;

          .calc-checkbox-title {
            color: #001931;
            font-size: 24px !important;
            font-weight: 500;
          }

          .calc-checkbox-description {
            word-break: keep-all;
            color: #00193180;
            font-size: 12px !important;
            font-weight: 500;
          }
        }

        &::before {
          left: unset !important;
          right: 20px !important;
          top: 25px;
        }

        &::after {
          left: unset;
          right: 25px !important;
          top: 30px;
        }
      }
    }
  }

  &.calc-checkbox-image {
    column-gap: 0;
    row-gap: 10px;
    margin-bottom: 5px;
    flex-wrap: wrap;

    display: flex;
    justify-content: space-between;
    flex-direction: row;

    &.default {
      .calc-checkbox-item {
        position: absolute;
        bottom: 10px;
        right: 2px;
        min-height: 18px;
        max-width: fit-content;
        margin: 0;

        label {
          position: relative;
          min-height: 18px;
          &:before {
            border-radius: 50%;
          }
        }
      }

      .calc-checkbox-image-wrapper {
        border: 2px solid #eeeeee;
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 4px;
        cursor: pointer;
        max-width: unset;
        width: 48%;
        min-height: 220px;
        padding: 0;
        margin: 0;

        &:before,
        &:after {
          display: none !important;
        }

        .calc-checkbox-item {
          label {
            &:after {
              top: 6px;
            }
          }
        }

        @media screen and (max-width: 480px) {
          width: 100%;
          max-width: 100% !important;
          flex-direction: row;
          min-height: 100%;
          padding: 5px;

          .calc-checkbox-image-box {
            img {
              width: 100px;
              height: 60px;
            }
          }
        }

        .calc-checkbox-image-box {
          padding: 18px;
          line-height: 0.7;
          width: 100%;
          height: 100%;
          display: flex;
        }

        img {
          width: 100%;
          height: auto;
          border-radius: 4px;
          object-fit: cover;
          aspect-ratio: 1 / 1;
        }
      }

      .calc-checkbox-info {
        width: 90%;
        padding: 5px 10px 12px 10px;
        position: relative;

        .calc-checkbox-title-box {

          & span {
            line-height: 1;
          }

          display: flex;
          flex-direction: column;
          row-gap: 10px;
        }

        .calc-checkbox-label {
          color: #001931;
          font-size: 16px;
          font-weight: 500;
          font-style: normal;
          word-break: break-all;
        }

        .calc-checkbox-price {
          color: #001931b3;
          font-size: 12px;
          font-weight: 500;
          font-style: normal;
        }
      }
    }

    &.with-icon {
      justify-content: flex-start;
      flex-direction: row;
      row-gap: 10px;
      column-gap: 10px;

      input {
        display: none;
      }

      .calc-checkbox-image-wrapper {
        cursor: pointer;
        height: 100%;
        line-height: 1;
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        row-gap: 7px;
        padding: 10px 18px;
        align-items: center;
        justify-content: center;

        &.calc-checkbox-image-selected {
          border: 1px solid $iconColor;
          background: #00b1631A;
        }

        img {
          width: 20px;
          height: 20px;
        }
      }

    }
  }

  &.calc-is-vertical {
    &.calc-checkbox-image,
    .calc-checkbox-item {
      width: 100% !important;

      label {
        width: 100% !important;
      }
    }

    &.with-icon,
    &.boxed {
      .calc-checkbox-item {
        label {
          display: flex;
          justify-content: center;
        }
      }
    }

    &.boxed-with-checkbox {
      .calc-checkbox-item {
        label {
          display: flex;
          justify-content: flex-start;
        }
      }
    }
  }
}

.calc-checkbox-item input[type="checkbox"]:checked ~ label:before {
  border: 1px solid $iconColor;
  background-color: $iconColor !important;
}

.calc-checkbox-item input[type="checkbox"]:checked ~ label:after {
  transform: rotate(-45deg) scale(1) translateY(-10%);
}

.calc-checkbox-item input[type="checkbox"]:focus + label::before {
  outline: 0;
}

.calc-container {
  &.horizontal,
  &.two_column {
    .calc-checkbox {
      &.ccb-horizontal {
        grid-template-columns: repeat(2, 1fr) !important;
      }
    }
  }
}