.calc-item {
  display: flex;
  flex-direction: column;

  button,
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="date"] {
    &:focus, &:hover {
      resize: none;
      outline: none;
      box-shadow: none;
    }

    &:disabled {
      box-shadow: none;
    }
  }

  .calc-input-wrapper input,
  .calc-date-picker-select,
  .calc-drop-down-with-image-current,
  textarea,
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  select {
    margin: 0;
    box-shadow: none;
    outline: none;
    line-height: 1;
    padding: 12px 20px;
    border-radius: 4px;
    border: 2px solid #eeeeee;
    background-color: #ffffff;
    box-sizing: border-box;
    color: #001931;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    min-height: 46px;
    text-transform: none;
  }

  textarea {
    &:focus, &:hover {
      outline: none;
      box-shadow: none;
    }

    &:disabled {
      box-shadow: none;
    }
  }

  &__title {
    color: #001931;
    font-size: 12px;
    font-weight: 700;
  }

  &__description {
    line-height: 1;
    display: none;

    &.before {
      margin-bottom: 4px;
    }

    &.after {
      margin-top: 4px;
    }

    span {
      color: #001931;
      font-size: 12px;
      font-weight: 500;
      word-break: break-all;
    }
  }

  .mx-datepicker {

    .mx-input {
      padding: 25px 10px;
    }

    i {
      top: 50%;
      right: 4%;
      cursor: pointer;
      color: $iconColor;
      position: absolute;
      transform: translateY(-50%);
    }
  }

  .calc-btn-action {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    color: #001931;
    border-radius: 4px;
    background-color: #eef1f7;
    transition: all 200ms linear;
    white-space: nowrap;
    line-height: 1;

    padding: 14px 50px;
    border: none !important;
    margin: 0 !important;
    outline: none !important;
    box-shadow: none;

    &:hover {
      background: darken(#eef1f7, 5%);
    }

    &.success {
      color: #ffffff;
      background-color: #00b163;

      &:hover {
        background: darken(#00b163, 5%);
      }
    }

    &.success-with-border,
    &.default-with-border {
      padding-left: 15px;
      padding-right: 15px;
      height: 40px !important;
      min-height: 40px !important;

      display: flex;
      align-items: center;
      column-gap: 5px;

      i {
        font-size: 18px;
      }
    }

    &.success-with-border {
      color: #00b163 !important;
      border: 1px solid #00b163 !important;
      background-color: #FFFFFF !important;

      i {
        opacity: 1 !important;
      }

      &:hover {
        background: #00b163;
      }
    }

    &.default-with-border  {
      color: #ffffff;
    }

    &.is-bold {
      font-weight: 700 !important;
    }

    &.is-disabled {
      pointer-events: none;
      opacity: 0.4;
    }
  }


  .calc-file-upload {

    .calc-file-upload-actions {
      width: 100%;
      display: flex;
      column-gap: 10px;

      & > button {
        padding: 0 !important;
        width: 50%;
      }
    }
    
    .ccb-field-required-tooltip {
      top: -8px !important;
    }

    .ccb-label-span {
      position: relative;

      .ccb-error {
        position: absolute;
        border-radius: 6px;
        padding: 5px 10px;
        background-color: $requiredColor;
        width: max-content;
        margin-left: 30px;
        top: 0;
        min-height: 21px;
        z-index: 99;

        &::after {
          content: "";
          left: -12px;
          top: 7px;
          position: absolute;
          border: 7px solid $requiredColor;
          transform: translateY(-10%);
          border-color: transparent $requiredColor transparent transparent;
        }

        .ccb-error-tooltip {
          border-radius: 6px;
          position: relative;
          display: contents;
          background-color: $requiredColor;
          z-index: 1;
          height: 100%;
          left: 8px;
          color: $whiteColor;
          margin: 0 auto;
          font-size: 13px;
          font-weight: 400;
          text-align: center;
        }
      }
    }

    .info-tip-block {
      display: inline-block;
      margin-left: 5px;
      align-items: center;
      justify-content: center;
      position: relative;
      /* Icon for info tip */

      .info-icon {
        position: relative;
        display: block;
        font-size: 11px;
        cursor: pointer;
        color: #0019314D !important;
      }

      /** help tip block **/
      .info {
        position: absolute;
        z-index: 2;
        background-color: #fff;
        min-width: 150px;
        width: 153px;
        bottom: 22px;
        left: -75px;
        border-radius: 4px;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);


        &::after {
          content: '';
          width: 0;
          height: 0;
          display: block;
          position: absolute;
          z-index: 10;
          border: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 8px solid #fff;
          left: calc(50% - 4px);
        }

        .info-tip {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          padding: 10px 10px;
          box-sizing: border-box;
          text-align: left;
          color: #001931;

          span {
            font-weight: 500;
            text-transform: capitalize;

            &:first-child {
              white-space: nowrap;
            }

            &.bold {
              font-weight: 700;
            }

            &.uppercase {
              text-transform: uppercase;
            }

            &.lighter {
              margin-top: 5px;
              opacity: 0.6;
            }
          }
        }
      }
    }

    .calc-info {
      opacity: 0.5;
      color: $blackColor;
      font-size: 12px;
      font-weight: 400;
      text-align: left;

      .titles {
        text-transform: uppercase;
      }
    }

    .calc-buttons {
      margin-bottom: 7px;
      display: flex;
      column-gap: 10px;

      & > button {
        cursor: pointer;
        width: 50%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 46px;
      }

      input[type=file] {
        display: none;
      }
      
      button[disabled="disabled"] {
        opacity: 0.3;
        cursor: inherit;
      }
    }

    button {
      &.disabled {
        opacity: 0.7 !important;
        cursor: not-allowed;
        pointer-events: none;
      }
    }

    .calc-uploaded-files {
      margin-bottom: 10px;

      .ccb-uploaded-file-list-info {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 8px;

        & > i {
          &:first-child {
            font-size: 16px;
            color: #00b163;
            margin-right: 5px;
          }
        }

        span {
          color: #001931;
          font-size: 14px;
          font-weight: 500;
        }

        .ccb-select-anchor {
          position: relative;
          display: block;
          cursor: pointer;
          font-size: 8px;
          margin-left: 4px;

          &.open {
            transform: rotate(180deg);
          }
        }

        .fa-check-circle {
          margin-right: 5px;
        }
      }

      .ccb-uploaded-file-list {
        display: flex;
        column-gap: 10px;
        row-gap: 5px;
        align-items: center;
        flex-wrap: wrap;
      }

      .file-name {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px 6px;
        text-transform: capitalize;
        border-radius: 5px;
        background-color: #eef1f7;
        color: #001931;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.3;
        word-break: break-all;

        .remove {
          cursor: pointer;
          display: inline-block;
          margin-left: 10px;
          font-size: 11px;
          opacity: 0.7;
          transition: ease-in-out 200ms;

          &:hover {
            opacity: 0.9;
          }
        }
      }
    }

    .calc-input-wrapper {
      &.url-file-upload {
        width: 100%;

        button {
          max-width: 90px;
          width: 100%;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .ccb-url-file-upload-input {
          max-width: calc(100% - 90px);
          position: relative;
          width: 100%;

          input[type=search]::-webkit-search-cancel-button {
            -webkit-appearance: none;
            appearance: none;
            height: 10px;
            width: 10px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cg%3E%3Cg opacity='.7'%3E%3Cpath fill='%23333' d='M12 1.414L10.586 0 6 4.586 1.414 0 0 1.414 4.586 6 0 10.586 1.414 12 6 7.414 10.586 12 12 10.586 7.414 6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-size: 10px 10px;
            cursor: pointer;
          }

          .ccb-input-error-tooltip {
            position: absolute;
            right: 0;
            top: -35px;
            display: flex;
            align-items: center;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            background: $requiredColor;
            color: $whiteColor;
            font-size: 14px;
            font-weight: 500;
            height: 30px;
            padding: 0 16px;

            &::after {
              content: '';
              width: 0;
              height: 0;
              border: 0;
              display: block;
              position: absolute;
              z-index: 10;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 10px solid $requiredColor;
              right: 0;
              bottom: -5px;
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
  
  &.html {
    display: block;
  }
}

.calc-make-payment {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
}

@import "checkbox";
@import "custom-date-calendar";
@import "date-picker";
@import "time-picker";
@import "drop-down";
@import "drop-down-with-image";
@import "field";
@import "input";
@import "line";
@import "radio";
@import "range";
@import "text";
@import "toggle";
@import "repeater";
@import "group";
